.hero {
  background-color: var(--main-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-mob.jpg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 370px;
  margin: 0 auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background-mob@2x.jpg);
  }

  @include mob {
    max-width: 480px;
  }

  @include tab {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background-tab.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background-tab@2x.jpg);
    }
  }

  @include desk {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background@2x.jpg);
    }
  }

  &__title {
    @include fonts(900, 26px, 1.62, 0.06em);
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: var(--main-margin);
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;

    @include desk {
      max-width: 696px;
      @include fonts(900, 44px, 1.36, 0.06em);
    }
  }

  &__btn {
    padding: 10px 32px;
  }
}
