.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team__title {
  margin-bottom: var(--second-margin);
}

.team-list__item {
  background-color: var(--white-color);
  padding-bottom: var(--main-margin);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item + .team-list__item {
  margin-left: var(--main-margin);
}

.team-list__names {
  @include fonts(500, 16px, 1.19);

  margin-top: var(--main-margin);
}

.team-list__function {
  @include fonts(null, 16px, 1.19);

  color: var(--second-color);
  margin-top: 10px;
}

.soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.soc-list__item + .soc-list__item {
  margin-left: 10px;
}

.soc-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);

  transition: background-color var(--trans-dur) var(--trans-timing-function),
    color var(--trans-dur) var(--trans-timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
  }
}

.soc-list__icon {
  fill: currentColor;
}
