.container {
  max-width: 100%;
  min-width: 370px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @include mob {
    max-width: 480px;
  }

  @include tab {
    max-width: 768px;
  }

  @include desk {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desk {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
