.logo {
  font-family: 'Raleway', Tahoma, sans-serif;
  @include fonts(700, 24px, 1.16, 0.03em, null);

  @include desk {
    @include fonts(700, 26px, 1.19, 0.03em, null);
  }

  display: block;
  &__accent {
    color: var(--accent-color);
  }
  &--white {
    color: var(--white-color);
    margin-bottom: 20px;
  }

  &--black {
    color: #000;
    padding-top: 16px;
    padding-bottom: 16px;

    @include tab {
      margin-right: 88px;
      padding-top: 24px;
      padding-bottom: 25px;
    }

    @include desk {
      margin-right: 93px;
    }
  }
}
